---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Mission from '../components/Mission.astro';
import Programs from '../components/Programs.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Friends of Humanity - Supporting New Immigrants in Canada">
  <main>
    <Hero />
    <Mission />
    <Programs />
    <Contact />
  </main>
</Layout>